@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 240 10% 3.9%; /* zinc-950 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 240 10% 3.9%; /* zinc-950 */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 240 10% 3.9%; /* zinc-950 */
    --primary: 45.4 93.4% 47.5%; /* amber-500 */
    --primary-foreground: 0 0% 100%; /* white */
    --secondary: 240 4.8% 95.9%; /* zinc-100 */
    --secondary-foreground: 240 5.9% 10%; /* zinc-900 */
    --muted: 240 4.8% 95.9%; /* zinc-100 */
    --muted-foreground: 240 3.8% 46.1%; /* zinc-500 */
    --accent: 240 4.8% 95.9%; /* zinc-100 */
    --accent-foreground: 240 5.9% 10%; /* zinc-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 100%; /* white */
    --border: 240 5.9% 90%; /* zinc-200 */
    --input: 240 5.9% 90%; /* zinc-200 */
    --ring: 45.4 93.4% 47.5%; /* amber-500 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%; /* zinc-950 */
    --foreground: 0 0% 98%; /* zinc-50 */
    --card: 240 3.7% 15.9%; /* zinc-800 */
    --card-foreground: 0 0% 98%; /* zinc-50 */
    --popover: 240 3.7% 15.9%; /* zinc-800 */
    --popover-foreground: 0 0% 98%; /* zinc-50 */
    --primary: 45.4 93.4% 47.5%; /* amber-500 */
    --primary-foreground: 240 10% 3.9%; /* zinc-950 */
    --secondary: 240 5.9% 10%; /* zinc-900 */
    --secondary-foreground: 0 0% 98%; /* zinc-50 */
    --muted: 240 3.7% 15.9%; /* zinc-800 */
    --muted-foreground: 240 5% 64.9%; /* zinc-400 */
    --accent: 240 3.7% 15.9%; /* zinc-800 */
    --accent-foreground: 0 0% 98%; /* zinc-50 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 0 0% 98%; /* zinc-50 */
    --border: 240 3.7% 20.5%; /* zinc-700 */
    --input: 240 3.7% 15.9%; /* zinc-700 */
    --ring: 45.4 93.4% 47.5%; /* amber-500 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
